{
  env: {
    browser: true,
    es6: true,
  },

  extends: 'airbnb',

  parser: 'babel-eslint',

  rules: {
    'no-console': [
      'error',
      {
        allow: ['warn', 'error', 'info'],
      },
    ],    
  }
}
