# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
build

# misc
src/test/
zips/*
.DS_Store
